body {
	background:#ffaa80;
	width: 90%;
}

.res{
	width: 30%;
	height: 50%;
	margin-top: 10%;
	margin-left:40%;
	background: #ffcc99;
	border:1px solid black;
}
.head {
	text-align: center;
}
.input {

	width:50%;
	height: 10%;
	margin-top: 5%;
	margin-left: 25%;
}

.but {
	width: 50%;
	height: 10%;
	margin-top: 5%;
	margin-left: 25%;
}
.msg1 {
	margin-left:25%;
	margin-bottom: 5%;
}